@import "tailwindcss";

@layer base {
  body {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-family: "Bpmf Huninn", "Noto Sans TC", "Fredoka", system-ui, -apple-system, sans-serif;
  }
}
